<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'base/header.html' %}
    <div class="card-body">
        <main class="justify-content-center align-items-center">
            {% if user.is_authenticated or request.get_full_path == '/accounts/login/'%}
                {% block content %}
                {% endblock content %}
            {% endif %}
        </main>
    </div>
    {% include 'base/footer.html' %}
</body>
</html>