
{% extends 'base/base.html' %}
{% block content %}
<a href="{% url 'product_create' %}" class="btn btn-success">Create product</a>
<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>

<table class="table">
    <tr>
        <th>Product Code</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Unit Price</th>
        <th>Total Amount</th>
        <th>Action</th>
    </tr>
    {% for product in list_all_products %}
        <tr>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.unit}}</td>
            <td>{{product.unit_price}}</td>
            <td>{{product.total_amount}}</td>
            <td>
              <a href="{% url 'product_detail' product.id%}" class="btn btn-primary">Detail</a>
              <a href="{% url 'product_update' product.id%}" class="btn btn-warning">Update</a>
              <a href="{% url 'product_delete' product.id%}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}

